@import "tailwindcss";

:root{
    --purple-color:#8017F5;
    --yellow-color:#FFB120;
    --secyellow-color:#FFFF7D;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
*{
    user-select: none;
}
i{
    cursor: pointer;
}
video{
    transition: all 0.3s ease;
    scale: 1.03;
    cursor: pointer;
}
video:hover{
    scale:0.97;

}
button:hover{
    box-shadow: inset 0px 0px 15px black;
}